TestTimeSheet/n8n-timesheet-workflow.json
{
  "name": "Timesheet Email Sender — MiniMed Personal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "timesheet-send",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "responseCode": 200,
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-node",
      "name": "Webhook — Receive Timesheet",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "timesheet-send"
    },
    {
      "parameters": {
        "jsCode": "// Build email subject and validate payload\nconst data = $input.first().json.body;\n\nconst subject = `[Timesheet] ${data.professionalName || 'Professional'} — Week of ${data.weekStart || 'N/A'}`;\n\nconst totalHrsNum = parseFloat(data.totalHours) || 0;\n\nreturn [{\n  json: {\n    ...data,\n    emailSubject: subject,\n    totalHoursNum: totalHrsNum,\n    isValid: !!(data.professionalName && data.weekStart && data.recipientEmail)\n  }\n}];\n"
      },
      "id": "code-node",
      "name": "Prepare & Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@servicioxpert.com",
        "toEmail": "={{ $json.recipientEmail }}",
        "ccEmail": "={{ $json.ccEmail || '' }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "replyTo": "={{ $json.recipientEmail }}"
        }
      },
      "id": "email-node",
      "name": "Send Timesheet Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP — ServiceXpert"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Timesheet sent to {{ $('Prepare & Validate Data').first().json.recipientEmail }}\", \"timestamp\": \"{{ new Date().toISOString() }}\" }"
      },
      "id": "respond-ok",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": false, \"error\": \"Missing required fields: professionalName, weekStart, or recipientEmail\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-err",
      "name": "Respond — Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook — Receive Timesheet": {
      "main": [
        [{ "node": "Prepare & Validate Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare & Validate Data": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Send Timesheet Email", "type": "main", "index": 0 }],
        [{ "node": "Respond — Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Send Timesheet Email": {
      "main": [
        [{ "node": "Respond — Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromAList"
  },
  "staticData": {},
  "tags": ["timesheet", "email", "miniMed", "puertoRico"],
  "meta": {
    "description": "Receives timesheet data from the HTML form via webhook and sends a rich HTML email with PR tax withholding breakdown to reyenergybroker@gmail.com",
    "version": "1.0.0"
  }
}
